SECRET_KEY=
STEAM_API_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://localhost:5000/callback
DISCORD_WEBHOOK_URL=
DISCORD_PING_ROLE_ID=
CRON_SECRET=
ADMINS=
FOUNDER_USERNAME=
DEVELOPER_USERNAME=
HOST_USERNAME=
SITE_AUTHOR=
SITE_CO_AUTHOR=
SITE_HOST=
HOME_CREATOR_A=
HOME_CREATOR_B=
